html{
    font-family: 'Nunito', sans-serif;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: #d500f9;
}

a:hover{
    opacity: 0.8;
}

.title {
    text-transform: uppercase;
    text-align: center;
}

.container{
    background: #a8dadc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    max-width: 960px;
    width: 100%;
    height: 73vh;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    padding: 1.8em;
    overflow-x: hidden;
    overflow-y: scroll;
}

td{
    display: block;
    width: 100%;
}
td:nth-of-type(1){
    font-size: 1.5em;
    font-weight: bold;
    color: #642B73;
}
th{
    display: none;
}

.actions {
    position: absolute;
    top: 1em;
    right: 1em;
}

.close{
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    background-color: #642B73;
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraph{
    line-height: 1.8em;
    font-weight: 300;
}

.fa-star {
    color: #ffc400;
}

.table {
    width: 100%;
    border-spacing: 0;
}

.table td, .table th {
    padding: 1em;
    text-align: left;
}

/*odd: pares
  even: impares*/
.table tr:nth-child(even){
    background-color: #f3e5f5;
}

.title-item{
    display: flex;
    align-items: center;
    font-size: 1.8em;
    border-bottom: solid 2px #C6426E;
    padding-bottom: 1em;
}

.canal {
    font-weight: bold;
    color: #642B73;
    font-size: 1.2em;
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.main-image{
    display: block;
    margin: auto;
    height: 250px;
    box-shadow: 3px 3px 1em rgba(0, 0, 0, 0.23);
}

.position {
    background-color: #C6426E;
    color: white;
    padding: 0.5em;
    border-radius: 4px;
    margin-right: 0.5em;
}

.suscriptor{
    display: none;
}

.nombreCanal{
    position: relative;
    margin-left: -0.3em;
    font-size: 1.3em;
    font-weight: bold;
}

@media(min-width:900px){
    th{
        display: table-cell;
    }
    td{
        display: table-cell;
        width: auto;
    }
    td:nth-of-type(1){
        font-size: 1em;
    }
    .content{
        padding: 1.8em;
    }
    .suscriptor{
        display: table-cell;
    }
    .nombreCanal{
        font-weight: normal;
        font-size: 1em;
    }
}

@media (min-height:550px) {
    .content{
        height: 500px;
    }
}

@media(min-width:600px){
    .main-image{
        float: left;
        margin-right: 1em;
    }
    .canal{
        display: inline-block;
    }
}